@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 29% 97%;
    --foreground: 230 21% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    /* primary - primary buttons */
    --primary: 229 83% 60%;
    --primary-foreground: 229 81% 96%;
    /* secondary not in use */
    --secondary: 230 95% 76%;
    --secondary-foreground: 230 100% 98%;
    /* muted - input bg */
    --muted: 228 100% 99%;
    --muted-foreground: 230 6% 38%;
    /* accent - hover */
    --accent: 229 68% 95%;
    --accent-foreground: 230 21% 11%;
    /* destructive not in use */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    /* input - input and button borders */
    --input: 214.3 31.8% 91.4%;
    /* ring - focus ring */
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 230 21% 11%;
    --foreground: 240 2% 91%;
    --card: 232 19% 16%;
    --card-foreground: 228 20% 95%;
    --popover: 232 19% 16%;
    --popover-foreground: 228 20% 95%;
    /* primary - primary buttons */
    --primary: 229 83% 60%;
    --primary-foreground: 229 81% 96%;
    /* secondary not in use */
    --secondary: 230 95% 76%;
    --secondary-foreground: 230 100% 98%;
    /* muted - input bg */
    --muted: 231 18% 20%;
    --muted-foreground: 229 9% 77%;
    /* accent - hover */
    --accent: 231 17% 23%;
    --accent-foreground: 228 20% 95%;
    /* destructive not in use */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 228 7% 29%;
    /* input - input and button borders */
    --input: 228 7% 29%;
    /* ring - focus ring */
    --ring: 212.7 26.8% 83.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
